@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root { /* color scheme */
  --teal: #27AE96;
  --lime: #CCE780;
  --pink: #C36CA6;
  --blue: #7ACCCC;
  --main-color: #33534D /* #606060; */
}
  
* {
  box-sizing: border-box; 
  margin: 0;
  font-size: 16px;
}

h1 {
  font-size: 56px;
  font-weight: 300;
}

h2 {
  /*font-family: 'Inconsolata'; */
  font-weight: 300;
  font-size: 1.5em;
  color: var(--main-color); 
}

a {
  text-decoration: none;
  color: var(--main-color);
}

a:hover {
  color: var(--teal);
}

hr {
  border-top: 4px solid var(--teal);
  margin: 15px 0;
  width: 100%;
}

.button {
  display: inline-block;
  margin-top: 2em;
	padding: 0.5em 1.5em;
  background-color: none;
  border: 3px solid var(--main-color);
  text-decoration: none;
  text-align: center;
  color: var(--main-color);
}

.button:hover {
  background-color: var(--main-color);
  color: white;
}


.hideOnDesktop {
  display: none;
}

.hideOnMobile {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .hideOnDesktop {
    display: block;
  }
  .hideOnMobile {
    display: none;
  }
}

.hide {
  display: none;
}

html, body {
  padding: 0em; 
  background-color: #DBEAE7; /*  #f1f1f1; */
  font: 16px 'Roboto Slab';
  width: 100%;
  height: 100%;
  color: #33534D;
}

/* menu / header */

header {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  flex-grow: 1;
}

.logo { 
  margin: 1em 2em;
  filter: grayscale();
}

.logo:hover {
  filter: none;
}

.logo svg path {
  opacity: 1;
  fill: var(--main-color)
}

svg path.l { animation: addColor linear .3s forwards }
svg path.o { animation: addColor linear .3s .3s forwards }
svg path.e { animation: addColor linear .3s .6s forwards }
svg path.s { animation: addColor linear .3s .9s forwards }

@keyframes addColor {
  to {
    opacity: 1;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 7;
  float: right;
}

nav ul li {
  display: inline;
  padding-right: 1.5em;
}

.menu-items {
  font-size: 1.25em;
  min-height: 55px;
  line-height: 55px;
  opacity: 0;
  animation: appear 1s ease-in forwards;
  margin: .8em 2em .8em 0;
}


.menu-item {
  padding: .3em .5em .3em .5em;
  border-bottom: .2em solid transparent;
  border: 0px solid red;
}


.menu-item:hover {
  border-bottom: 3px solid var(--teal);
  color: var(--main-color)
}

.menu-icon {
  opacity: 0;
  animation: appear 1s ease-in forwards;
  margin: 1em 2em;
  min-height: 55px;
  line-height: 55px;
}

.menu-icon i {
  font-size: 1.75em; 
}


@keyframes appear {
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    justify-content: center;
    width: 90%;
    border-bottom: 4px solid var(--main-color);
  }

  nav ul {
    padding: 0;
  }

  .menu-items {
    margin: 0;
    padding: 0;
  }

  .menu-item {
    border: none;
  }
}

/* homepage */ 

.hero {
  position: relative;
  width: 686px;
  height: 490px;
  justify-content: center;
  margin: 15vh auto;
  border: 0px solid black;
}

.hero h1 {
  font-size: 4.4em;
}

.hero-logo {
  position: absolute;
  border: 0px solid cyan;
  width: 490px;
  transform: translate(98px);
}

.hero-logo svg {
  border: 0px solid salmon;
  animation: move-left ease-in-out 2s 1.1s forwards; 
}


@keyframes move-left {
  50% {
    transform: scale(.7);
  }
  100% {
    transform-origin: left center;
    transform: translateX(-98px) scale(.7);
  }
}

.hero-logo svg path {
  opacity: 0.2;
}

.hero-logo svg path:hover {
  transform-origin: 50% 50%;
  transform: scale(1.1)
}

.hero-content {
  position: absolute;
  width: 343px;
  right: 0;
  opacity: 0;
  animation: addColor ease-in 1s 2.5s forwards;
  padding: 50px 20px 0 20px; 
  border: 0px solid pink;
}

/* homepage: H2 animation */

h2.front, h2.ux, h2.web {
  display: inline-block; 
  margin: .3em 0em;
  padding: .2em 0em;
  opacity: 0;
  transform-origin: bottom center;
  transform: translateY(60px);
  border-bottom: 3px solid var(--teal);
}

h2.front { animation: slideUp 1s 2.5s ease-out forwards}
h2.ux { animation: slideUp 1s 3.5s ease-out forwards}
h2.web { animation: slideUp 1s 4.5s ease-out forwards}

p.click a {
  font-size: 16px;
  transform-origin: center center;
  transform: scale(0);
  animation: grow 1s 5.3s ease-out forwards
}

@keyframes slideUp {
  75% {
    opacity: 1; 
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}


@media only screen and (max-width: 600px) {
  .hero {
    width: 343px; 
    margin-top: 20px;
  }
}

.splash {
  display: none;
}

@media (max-width: 600px) {
  .splash {
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    background: var(--lgrey);  
    animation: hide-splash .7s 1.2s linear forwards;
  }
  
  .splash .splash-logo {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.70);
  }

  .splash-logo svg path {
    opacity: 0.2;
  }
}


@keyframes hide-splash {
  99% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* about */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  width: 500px;
  border: 0px solid indigo;  
}

.about p {
  text-align: left;
}

.photo {
  width: 180px;
  height: 180px;
  background-size: 100%;
  background-image: url("assets/img/loes.png");
  border: 4px solid var(--teal);
  margin-top: 22px;
  z-index: 1;
  opacity: 1;
  animation: appear .5s .1s ease-in forwards;
}


.photo:hover {
  filter: none;
}

.about hr {
  margin-top: -25px;
}

.about-content {
  padding: 65px 20px 40px 20px;
  margin-top: -25px;
  border-bottom: 3px solid var(--teal);  
  transform: scaleY(0);
  transform-origin: top center;
  animation: scaleDownwards 1.3s .2s ease-out forwards;
}


@keyframes scaleDownwards {
  to {
    transform: scaleY(1);
  }
}

.about-content p {
  opacity: 0;
  animation: appear 1s 1.2s ease-out forwards; 
}

@media only screen and (max-width: 600px) {
  .about {
    width: 90%; 
    font-size: .8em;
  }
}


/* portfolio */

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 20px auto; 
  width: 550px;
  border: 0px solid maroon;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  width: 550px;
  margin-top: 20px;
  border: 0px solid gold;
  /*transform: translateY(60px);*/
}


.project {
  display: flex;
  margin: 15px;
  padding: 10px 15px;
  width: 500px; /*  575 */
  min-height: 100px;
  background-color: transparent;
  border: 4px solid var(--teal);
  transform: scaleX(.6);
  animation: growShrink .9s .1s linear forwards;
}

@keyframes growShrink {
  60% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
  }
}

.project:hover {
  border: 4px solid var(--main-color);
}

.project-info {
  opacity: 0;
  animation: appear .7s 1s ease-out forwards;
}

.project-info ul {
  list-style-type: square;
  opacity: 0;
}

.project:hover ul {
  opacity: 1;
}

.project-info li {
  display: inline;
  margin-left: -2.2em;
  margin-right: 2.7em;
  color: var(--teal);
}

.project-info ul > li:before { 
  content:'\ffed'; 
  margin-right: 0.5em;
}

.project-info ul li a {
  color: var(--main-color);
}
.project-info p {
  color: white;
}

@media only screen and (max-width: 600px) {
  .portfolio, .projects {
    width: 99%;
  }

  .project-info ul {
    opacity: 1;
  }
}

/* skills */ 
.skills  {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
  width: 424px;
  border: 0px solid indigo;
}

.skillset {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  border: 0px solid gold;
  border-bottom: 4px solid var(--teal);  
  transform: scaleY(0);
  transform-origin: top center;
  animation: scaleDownwards 1.3s .2s ease-out forwards;
}


.skill {
  width: 30%;
  margin: 1%;
  border: 0px solid burlywood;
  opacity: 0;
  animation: appear 1s 1.5s ease-out forwards; 
}

.skill-data {
  background-color: var(--main-color);
}

.skill-icon {
  opacity: 0.9;
  transform: scale(0.92);
  animation: grow .2s 2.0s linear forwards; 
}

.skill-icon i {
  color: var(--main-color);
  font-size: 100px;
  line-height: 120px;
}

.skill-data {
  height: 120px;
  color: white;
  padding: 26px 14px 0 14px;
  opacity: 0.9;
  transform: scale(0.92);
  animation: grow .3s .1s ease-in forwards;
}

@keyframes grow {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.skill-data h2 {
  color: white;
  font-size: 1.1em;
  margin-bottom: 10px;
}

/*
.skill .common { background-color: var(--main-color);}
.skill .front-end { background-color: var(--teal);}
.skill .ux { background-color: var(--lime);}
.skill .webdesign { background-color: var(--pink);}
*/


@media only screen and (max-width: 600px) {
  .skills {
    width: 90%;
  }

  .skill-icon i {
    font-size: 80px;
  }

  .skill-data h2, .skill-data i {
    font-size: .75em;
  }
}

/* contact */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 25vh auto 0 auto;
  width: 500px;
  border: 0px solid indigo;   
}

.email {
  display: flex;
  justify-content: center;
}

.email p {
  font-family: 'Inconsolata';
  display: inline-block;
  border-bottom: 0px solid var(--teal);
  text-align: center;
  font-size: 4em;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: .1em 0 0 var(--teal);  
  animation: type 3s 0s steps(14, end) forwards,
  caret .5s step-end infinite alternate,
  hide 0s 3s forwards;
}

@keyframes type {
  to { 
    width: 14ch;
  }
}

@keyframes caret { 
  50% { 
    box-shadow: .08em 0 0 transparent;
  }
}

@keyframes hide {
  to {
    box-shadow: none;
  }
}

.contact hr {
  margin: 1.3em 0 .3em 0;
  background: pink;
  transform: scaleX(0);
  animation: scaleMax 1s 3s ease-out forwards;
}

@keyframes scaleMax {
  to {
    transform: scaleX(1);
  }
}

.socials i {
  margin: .3em;
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 90%;
    margin-top: 15vh;
  }

  .contact hr {
    margin: 1em 0 .1em 0;
  }

  .email p {
    font-size: 2.5em;
  }

  .socials i {
    font-size: 1.3em;
  }
}