
.memini .desktop {
    background-color: #252326;
}
.memini .mobile {
    background-color: #ededed;
}

.memini .mobile img {
    transform-origin: 0% 0%;
    --scroll-px: -394px;
    animation: variable-scroll-down 4s 0.5s ease-out;
}

@media only screen and (max-width: 600px) {
    .katwijk .desktop img {
        transform-origin: top center;
        transform: scale(1.5);
    }
}