@import "variables";
@import "mixins";

.about {
    @include page-container(510px);
    align-items: center;

    hr {
        margin-top: -25px;
    }
}

.photo {
    width: 180px;
    height: 180px;
    background-size: 100%;
    background-color: $light-teal;
    background-image: url("../img/loes.png");
    border: $base-border-size solid $teal;
    margin-top: 22px;
    z-index: 1;
}

.about-content {
    text-align: left;
    padding: 65px 20px 40px 20px;
    margin: -25px 0 70px 0;
    border-bottom: $base-border-size solid $teal;
    transform: scaleY(0);
    transform-origin: top center;
    animation: scaleVertical 1.3s 0.2s ease-out forwards;
}

.about-text {
    opacity: 0;
    animation: toFullOpacity 1s 1.2s ease-out forwards;
}

@media only screen and (max-width: 600px) {
    .about {
        width: 90%;
        font-size: 0.8em;
    }
}
