@import "variables";

* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    padding: 0;
    background-color:#eee; // $light-teal;
    font: 16px "Roboto Slab";
    width: 100%;
    height: 100%;
    color: $dark-teal;
    overflow-x: hidden;
}

h1 {
    font-size: 3.5em;
    font-weight: 600;
}

h2 {
    font-weight: 300;
    font-size: 1.5em;
    color: $dark-teal;
    margin-bottom: 0.8em;
}

p {
    margin: 0.9em 0;
}

a {
    text-decoration: none;
    color: $dark-teal;
}

ul {
    list-style-type: square;
}

li {
    color: $teal;
}

ul li span {
    color: $dark-teal;
}

hr {
    border: none;
    border-top: $base-border-size solid $teal;
    margin: 1em 0 0 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    $base-border-size: 3px;

    h1 {
        font-size: 2.1em;
    }

    p,
    ul {
        font-size: 0.9em;
    }
}
