@import "variables";


header {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-grow: 1;
}

.logo {
    background-image: url(../img/logo_menu.png);
    width: 55px;
    height: 55px;
    margin: 1em 2em;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 7;
    float: right;
    padding: 0.8em 2em 0.8em 0;
}

nav ul li {
    display: inline;
    padding-right: 1.5em;
}

.menu-items {
    min-height: 55px;
    line-height: 55px;
    transform: translateX(350px);
    opacity: 0;
    animation: slideBack 1s ease-out forwards, toFullOpacity 0.7s 0.3s ease-in forwards;
}

.menu-item {
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-bottom: 0.2em solid transparent;

    &:hover {
        border-bottom: 0.2em solid $teal;
    }
}

.menu-active {
    color: $teal;
    
    &:hover {
        border-bottom: 0.2em solid transparent;
    }
}

.menu-icon {
    min-height: 55px;
    line-height: 55px;
    opacity: 0;
    animation: toFullOpacity 1s ease-in forwards;

    i {
        font-size: 1.75em;
    }
}

@media only screen and (max-width: 600px) {
    header {
        border-bottom: $base-border-size solid $dark-teal;
    }

    .logo {
        margin: 8px 8px 7px 7px;
        background-image: url(../img/logo_mobile.png);
        width: 40px;
        height: 40px;
    }

    nav,
    nav ul {
        padding: 0;
    }
    .menu-icon {
        margin: 8px 10px auto auto;
        min-height: 45px;
        line-height: 45px;
    }

    .menu-items ul li {
        padding: 0;
        margin: 0 0.1em;
    }
}
