@import "./variables";
@import "./mixins";

.contact {
  @include page-container(450px);
  display: flex;
  flex-direction: row;
  margin: 15vh auto 0 auto;

  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
}

.socials {
  max-width: 60px;
  align-self: center;

  i {
    margin: 0.3em;
    font-size: 2em;
    transform: scale(0.8);

    &:hover {
      animation: grow 0.3s ease-out forwards;
    }
  }

  a:hover {
    color: $teal;
  }
}

.contact-form {
  text-align: left;
  align-self: center;
  flex-grow: 1;
  padding: 1.3em;
  border-left: $base-border-size solid $teal;

  input,
  textarea {
    border: 3px solid $dark-teal;
    padding: 0.6em;
    width: 100%;
    background: transparent;
    margin-top: 0.4em;
  }

  button {
    display: block;
    border: 3px solid $dark-teal;
    color: $light-teal;
    padding: 0.5em 1em;
    background-color: $dark-teal;
    margin: 2.5em 0 2em 0;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: $light-teal;
      color: $dark-teal;
      opacity: 1;
    }
  }

  input:focus,
  textarea:focus {
    outline: none;
    border: 3px solid $teal;
  }  
}

.contact-input {
  opacity: 0;
  transform: translateY(-25px);
  animation: slideUp 1s 0.2s ease-out forwards;
}

#send-succes {
  margin: 3em 0;
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 100%;
    margin: 20px auto;
    flex-direction: column;
  }

  .socials {
    max-width: 100%;
    order: 2;
  }

  .contact-form {
    border: none;
  }

  .contact i {
    font-size: 2em;
  }
}
