:root {
  --scroll-px: 0px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px auto;
  width: 1200px;
}

.project nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-content {
  border: 4px solid #27AE96;
  text-align: left;
  padding: 15px 18px;
  margin-top: 30px;
}

.project-content h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0;
}

.project-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop {
  min-width: 950px;
  margin: 40px 0 25px 0;
  border: 10px solid black;
  border-radius: 8px;
  max-height: 494px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.desktop img {
  width: 930px;
}

.mobile {
  z-index: 1;
  -webkit-box-shadow: -3px 2px 4px #777;
          box-shadow: -3px 2px 4px #777;
  width: 250px;
  min-width: 250px;
  height: 488px;
  border: 40px solid black;
  border-left-width: 5px;
  border-right-width: 5px;
  border-radius: 30px;
  overflow-y: scroll;
  -webkit-transform: translate(-53px, 15px);
          transform: translate(-53px, 15px);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.project-description {
  width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.mobile::-webkit-scrollbar,
.desktop::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.xbike .desktop,
.xbike .mobile {
  background-color: #eee;
}

.xbike .mobile img {
  --scroll-px: -598px;
  -webkit-animation: variable-scroll-down 4.5s 0.5s ease-in-out;
          animation: variable-scroll-down 4.5s 0.5s ease-in-out;
}

.mastermind .desktop,
.mastermind .mobile {
  background-color: #e5e5e5;
}

.memini .desktop {
  background-color: #252326;
}

.memini .mobile {
  background-color: #ededed;
}

.memini .mobile img {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  --scroll-px: -394px;
  -webkit-animation: variable-scroll-down 4s 0.5s ease-out;
          animation: variable-scroll-down 4s 0.5s ease-out;
}

@media only screen and (max-width: 600px) {
  .katwijk .desktop img {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.katwijk .desktop,
.katwijk .mobile {
  background-color: #8f351e;
}

.katwijk .mobile img {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  --scroll-px: -4042px;
  -webkit-animation: variable-scroll-down 25s 0.5s ease-out;
          animation: variable-scroll-down 25s 0.5s ease-out;
}

@media only screen and (max-width: 600px) {
  .project {
    width: 95%;
  }
  .project-content {
    padding: 0px;
    border: 3px solid #27AE96;
  }
  .desktop {
    min-width: 0px;
    max-width: 91%;
    margin: 0 auto;
    max-height: 195px;
    overflow-y: hidden;
    margin-top: 15px;
    border: 5px solid black;
    border-radius: 4px;
  }
  .desktop img {
    max-width: 100%;
  }
  .project-description {
    max-width: 95%;
    margin-top: 15px;
  }
  .external-links {
    text-align: center;
  }
}
/*# sourceMappingURL=project.css.map */