@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
:root {
  --scroll-px: 0px;
}

/* global styles */
:root {
  --scroll-px: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

html,
body {
  padding: 0;
  background-color: #DBEAE7;
  font: 16px "Roboto Slab";
  width: 100%;
  height: 100%;
  color: #33534D;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
}

h2 {
  font-weight: 300;
  font-size: 1.5em;
  color: #33534D;
  margin-bottom: 0.8em;
}

p {
  margin: 0.9em 0;
}

a {
  text-decoration: none;
  color: #33534D;
}

ul {
  list-style-type: square;
}

li {
  color: #27AE96;
}

ul li span {
  color: #33534D;
}

hr {
  border: none;
  border-top: 4px solid #27AE96;
  margin: 1em 0 0 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.1em;
  }
  p,
  ul {
    font-size: 0.9em;
  }
}

:root {
  --scroll-px: 0px;
}

.button {
  display: inline-block;
  margin: 1.9em 0.2em 0.1em 0.2em;
  padding: 0.5em 1em;
  background-color: none;
  border: 3px solid #33534D;
  text-decoration: none;
  text-align: center;
  color: #33534D;
}

.button:hover {
  background-color: #33534D;
  color: #DBEAE7;
}

.hide {
  display: none;
}

.hideOnDesktop {
  display: none;
}

.hideOnMobile {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .hideOnDesktop {
    display: block;
  }
  .hideOnMobile {
    display: none;
  }
}

@-webkit-keyframes slideBack {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes slideBack {
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes toFullOpacity {
  to {
    opacity: 1;
  }
}

@keyframes toFullOpacity {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes scaleVertical {
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes scaleVertical {
  to {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes grow {
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  to {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes variable-scroll-down {
  95% {
    opacity: 1;
    -webkit-transform: translateY(var(--scroll-px));
            transform: translateY(var(--scroll-px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(var(--scroll-px));
            transform: translateY(var(--scroll-px));
  }
}

@keyframes variable-scroll-down {
  95% {
    opacity: 1;
    -webkit-transform: translateY(var(--scroll-px));
            transform: translateY(var(--scroll-px));
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(var(--scroll-px));
            transform: translateY(var(--scroll-px));
  }
}

:root {
  --scroll-px: 0px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logo {
  background-image: url(../img/logo_menu.png);
  width: 55px;
  height: 55px;
  margin: 1em 2em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  float: right;
  padding: 0.8em 2em 0.8em 0;
}

nav ul li {
  display: inline;
  padding-right: 1.5em;
}

.menu-items {
  min-height: 55px;
  line-height: 55px;
  -webkit-transform: translateX(350px);
          transform: translateX(350px);
  opacity: 0;
  -webkit-animation: slideBack 1s ease-out forwards, toFullOpacity 0.7s 0.3s ease-in forwards;
          animation: slideBack 1s ease-out forwards, toFullOpacity 0.7s 0.3s ease-in forwards;
}

.menu-item {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-bottom: 0.2em solid transparent;
}

.menu-item:hover {
  border-bottom: 0.2em solid #27AE96;
}

.menu-active {
  color: #27AE96;
}

.menu-active:hover {
  border-bottom: 0.2em solid transparent;
}

.menu-icon {
  min-height: 55px;
  line-height: 55px;
  opacity: 0;
  -webkit-animation: toFullOpacity 1s ease-in forwards;
          animation: toFullOpacity 1s ease-in forwards;
}

.menu-icon i {
  font-size: 1.75em;
}

@media only screen and (max-width: 600px) {
  header {
    border-bottom: 4px solid #33534D;
  }
  .logo {
    margin: 8px 8px 7px 7px;
    background-image: url(../img/logo_mobile.png);
    width: 40px;
    height: 40px;
  }
  nav,
  nav ul {
    padding: 0;
  }
  .menu-icon {
    margin: 8px 10px auto auto;
    min-height: 45px;
    line-height: 45px;
  }
  .menu-items ul li {
    padding: 0;
    margin: 0 0.1em;
  }
}

/* page styles */
:root {
  --scroll-px: 0px;
}

.hero {
  position: relative;
  width: 686px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10vh auto;
  border: 0px solid silver;
}

.hero svg path {
  opacity: 0.2;
}

.hero svg path.l {
  -webkit-animation: toFullOpacity linear 0.5s forwards;
          animation: toFullOpacity linear 0.5s forwards;
}

.hero svg path.o {
  -webkit-animation: toFullOpacity linear 0.5s 0.5s forwards;
          animation: toFullOpacity linear 0.5s 0.5s forwards;
}

.hero svg path.e {
  -webkit-animation: toFullOpacity linear 0.5s 1s forwards;
          animation: toFullOpacity linear 0.5s 1s forwards;
}

.hero svg path.s {
  -webkit-animation: toFullOpacity linear 0.5s 1.5s forwards;
          animation: toFullOpacity linear 0.5s 1.5s forwards;
}

.hero h1 {
  font-size: 4.4em;
}

.hero h2 {
  display: inline-block;
  font-weight: 100;
  margin: 0.3em 0em;
  padding: 0.2em 0em;
  opacity: 0;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
  border-bottom: 3px solid #27AE96;
}

.hero h2.front {
  -webkit-animation: slideUp 1s 3.5s ease-out forwards;
          animation: slideUp 1s 3.5s ease-out forwards;
}

.hero h2.ux {
  -webkit-animation: slideUp 1s 4.5s ease-out forwards;
          animation: slideUp 1s 4.5s ease-out forwards;
}

.hero h2.web {
  -webkit-animation: slideUp 1s 5.5s ease-out forwards;
          animation: slideUp 1s 5.5s ease-out forwards;
}

.hero .button {
  /* View portfolio button */
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: grow 1s 5.8s ease-out forwards;
          animation: grow 1s 5.8s ease-out forwards;
}

.hero-content {
  position: absolute;
  width: 343px;
  right: 0;
  top: 0;
  padding: 115px 20px 0 20px;
  opacity: 0;
  -webkit-animation: toFullOpacity ease-in 1s 3.5s forwards;
          animation: toFullOpacity ease-in 1s 3.5s forwards;
}

@media only screen and (max-width: 600px) {
  /* mobile devices */
  .hero {
    width: 343px;
    margin: 0 auto;
  }
  .hero h2.front {
    -webkit-animation: slideUp 1s 0.5s ease-out forwards;
            animation: slideUp 1s 0.5s ease-out forwards;
  }
  .hero h2.ux {
    -webkit-animation: slideUp 1s 1.5s ease-out forwards;
            animation: slideUp 1s 1.5s ease-out forwards;
  }
  .hero h2.web {
    -webkit-animation: slideUp 1s 2.5s ease-out forwards;
            animation: slideUp 1s 2.5s ease-out forwards;
  }
  .hero .button {
    /* View portfolio button */
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-animation: grow 1s 2.8s ease-out forwards;
            animation: grow 1s 2.8s ease-out forwards;
  }
  .hero-logo {
    padding-top: 0px;
    margin-top: 50px;
  }
  .hero-content {
    padding-top: 45px;
    -webkit-animation: toFullOpacity ease-in 1s 0.5s forwards;
            animation: toFullOpacity ease-in 1s 0.5s forwards;
  }
}

@media only screen and (min-width: 601px) {
  /* larger devices */
  .hero-logo {
    position: absolute;
    width: 600px;
    left: 43px;
    -webkit-animation: move-left ease-in-out 2s 1.9s forwards;
            animation: move-left ease-in-out 2s 1.9s forwards;
  }
}

/* homepage animations */
@-webkit-keyframes move-left {
  /* desktop logo animation */
  50% {
    -webkit-transform: scale(0.57);
            transform: scale(0.57);
  }
  100% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translate(-43px) scale(0.57);
            transform: translate(-43px) scale(0.57);
  }
}
@keyframes move-left {
  /* desktop logo animation */
  50% {
    -webkit-transform: scale(0.57);
            transform: scale(0.57);
  }
  100% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translate(-43px) scale(0.57);
            transform: translate(-43px) scale(0.57);
  }
}

@-webkit-keyframes hide-splash {
  /* mobile logo animation */
  to {
    opacity: 0;
  }
}

@keyframes hide-splash {
  /* mobile logo animation */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  /* h2 text animation */
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideUp {
  /* h2 text animation */
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

:root {
  --scroll-px: 0px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px auto;
  width: 510px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about hr {
  margin-top: -25px;
}

.photo {
  width: 180px;
  height: 180px;
  background-size: 100%;
  background-color: #DBEAE7;
  background-image: url("../img/loes.png");
  border: 4px solid #27AE96;
  margin-top: 22px;
  z-index: 1;
}

.about-content {
  text-align: left;
  padding: 65px 20px 40px 20px;
  margin: -25px 0 70px 0;
  border-bottom: 4px solid #27AE96;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleVertical 1.3s 0.2s ease-out forwards;
          animation: scaleVertical 1.3s 0.2s ease-out forwards;
}

.about-text {
  opacity: 0;
  -webkit-animation: toFullOpacity 1s 1.2s ease-out forwards;
          animation: toFullOpacity 1s 1.2s ease-out forwards;
}

@media only screen and (max-width: 600px) {
  .about {
    width: 90%;
    font-size: 0.8em;
  }
}

:root {
  --scroll-px: 0px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px auto;
  width: 510px;
}

.portfolio-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-top: 20px;
  border: 0px solid gold;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100px;
  margin: 15px 0;
  padding: 15px 18px;
  border: 4px solid #27AE96;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-animation: growShrink 0.9s 0.1s linear forwards;
          animation: growShrink 0.9s 0.1s linear forwards;
}

.portfolio-item:hover {
  border-color: #33534D;
}

@-webkit-keyframes growShrink {
  60% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes growShrink {
  60% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.portfolio-item-info {
  opacity: 0;
  -webkit-animation: toFullOpacity 0.7s 1s ease-out forwards;
          animation: toFullOpacity 0.7s 1s ease-out forwards;
}

.portfolio-item-info ul {
  opacity: 1;
}

.portfolio-item-info li {
  display: inline;
  margin-left: -2.4em;
  margin-right: 3em;
}

.project-content li {
  display: inline;
  margin-left: -2.4em;
  margin-right: 3em;
}

.portfolio-item-info ul > li:before,
.project-content ul > li:before {
  content: "\ffed";
  margin-right: 0.5em;
}

@media only screen and (max-width: 600px) {
  .portfolio {
    width: 93%;
  }
  .portfolio-items {
    width: 100%;
  }
  .portfolio-item {
    width: 100%;
    padding: 10px 10px 2px 10px;
    margin: 10px auto;
  }
  .portfolio-item h2 {
    margin-left: 0.1em;
    margin-bottom: -0.2em;
  }
  .portfolio-item-info ul {
    opacity: 1;
  }
}

:root {
  --scroll-px: 0px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px auto;
  width: 1200px;
}

.project nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-content {
  border: 4px solid #27AE96;
  text-align: left;
  padding: 15px 18px;
  margin-top: 30px;
}

.project-content h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0;
}

.project-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop {
  min-width: 950px;
  margin: 40px 0 25px 0;
  border: 10px solid black;
  border-radius: 8px;
  max-height: 494px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.desktop img {
  width: 930px;
}

.mobile {
  z-index: 1;
  -webkit-box-shadow: -3px 2px 4px #777;
          box-shadow: -3px 2px 4px #777;
  width: 250px;
  min-width: 250px;
  height: 488px;
  border: 40px solid black;
  border-left-width: 5px;
  border-right-width: 5px;
  border-radius: 30px;
  overflow-y: scroll;
  -webkit-transform: translate(-53px, 15px);
          transform: translate(-53px, 15px);
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.project-description {
  width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

.mobile::-webkit-scrollbar,
.desktop::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}

.xbike .desktop,
.xbike .mobile {
  background-color: #eee;
}

.xbike .mobile img {
  --scroll-px: -598px;
  -webkit-animation: variable-scroll-down 4.5s 0.5s ease-in-out;
          animation: variable-scroll-down 4.5s 0.5s ease-in-out;
}

.mastermind .desktop,
.mastermind .mobile {
  background-color: #e5e5e5;
}

.memini .desktop {
  background-color: #252326;
}

.memini .mobile {
  background-color: #ededed;
}

.memini .mobile img {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  --scroll-px: -394px;
  -webkit-animation: variable-scroll-down 4s 0.5s ease-out;
          animation: variable-scroll-down 4s 0.5s ease-out;
}

@media only screen and (max-width: 600px) {
  .katwijk .desktop img {
    -webkit-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.katwijk .desktop,
.katwijk .mobile {
  background-color: #8f351e;
}

.katwijk .mobile img {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  --scroll-px: -4042px;
  -webkit-animation: variable-scroll-down 25s 0.5s ease-out;
          animation: variable-scroll-down 25s 0.5s ease-out;
}

.loes .mobile {
  overflow-y: hidden;
}

@media only screen and (max-width: 600px) {
  .project {
    width: 95%;
  }
  .project-content {
    padding: 0px;
    border: 3px solid #27AE96;
  }
  .desktop {
    min-width: 0px;
    max-width: 91%;
    margin: 0 auto;
    max-height: 195px;
    overflow-y: hidden;
    margin-top: 15px;
    border: 5px solid black;
    border-radius: 4px;
  }
  .desktop img {
    max-width: 100%;
  }
  .project-description {
    max-width: 95%;
    margin-top: 15px;
  }
  .external-links {
    text-align: center;
  }
}

:root {
  --scroll-px: 0px;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px auto;
  width: 560px;
}

.skillset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
  border-bottom: 4px solid #27AE96;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: scaleVertical 1.3s .2s ease-out forwards;
          animation: scaleVertical 1.3s .2s ease-out forwards;
}

.skill {
  width: 23%;
  margin: 1%;
  opacity: 0;
  -webkit-animation: toFullOpacity 1s 1.5s ease-out forwards;
          animation: toFullOpacity 1s 1.5s ease-out forwards;
}

.skill-data {
  background-color: #33534D;
  padding: 7px;
}

.skill-icon {
  opacity: 0.9;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
  -webkit-animation: grow .2s 2.0s linear forwards;
          animation: grow .2s 2.0s linear forwards;
}

.skill-icon i {
  color: #33534D;
  font-size: 6.25em;
  line-height: 1.2em;
}

.skill-icon svg {
  margin-top: 13px;
  width: 100px;
  height: 95px;
}

.shrink {
  margin-top: 1.5em;
  font-size: .7em;
}

.skill-data {
  height: 7.5em;
  /* 6.25 * 1.2 */
  color: #DBEAE7;
  text-align: center;
  padding-top: 1.6em;
  opacity: 0.9;
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
  -webkit-animation: grow .3s .1s ease-in forwards;
          animation: grow .3s .1s ease-in forwards;
}

.skill-data h2 {
  color: #DBEAE7;
  font-size: 1.1em;
  margin-bottom: .9em;
}

@media only screen and (max-width: 600px) {
  .skills {
    width: 85%;
  }
  .skill {
    width: 30%;
  }
  .skill-icon i {
    font-size: 4.5em;
    /* 72% */
    line-height: 1.2em;
  }
  .skill-icon svg {
    margin-top: 7px;
    height: 68px;
  }
  .skill-data {
    padding-top: 1.1em;
    height: 5.4em;
  }
  .skill-data h2, .skill-data i {
    font-size: .70em;
  }
}

:root {
  --scroll-px: 0px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px auto;
  width: 450px;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 15vh auto 0 auto;
}

.contact h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.socials {
  max-width: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.socials i {
  margin: 0.3em;
  font-size: 2em;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.socials i:hover {
  -webkit-animation: grow 0.3s ease-out forwards;
          animation: grow 0.3s ease-out forwards;
}

.socials a:hover {
  color: #27AE96;
}

.contact-form {
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1.3em;
  border-left: 4px solid #27AE96;
}

.contact-form input,
.contact-form textarea {
  border: 3px solid #33534D;
  padding: 0.6em;
  width: 100%;
  background: transparent;
  margin-top: 0.4em;
}

.contact-form button {
  display: block;
  border: 3px solid #33534D;
  color: #DBEAE7;
  padding: 0.5em 1em;
  background-color: #33534D;
  margin: 2.5em 0 2em 0;
  font-weight: 600;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #DBEAE7;
  color: #33534D;
  opacity: 1;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 3px solid #27AE96;
}

.contact-input {
  opacity: 0;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  -webkit-animation: slideUp 1s 0.2s ease-out forwards;
          animation: slideUp 1s 0.2s ease-out forwards;
}

#send-succes {
  margin: 3em 0;
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 100%;
    margin: 20px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .socials {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact-form {
    border: none;
  }
  .contact i {
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */