@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* general styles */

:root { /* color scheme */
  --light-teal: #DBEAE7;
  --teal: #27AE96;
  --dark-teal: #33534D;
  --base-border-size: 4px;  
}
  
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
  margin: 0;
}

html, body {
  padding: 0; 
  background-color: var(--light-teal);
  font: 16px 'Roboto Slab';
  width: 100%;
  height: 100%;
  color: #33534D;
  overflow-x: hidden;
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
}

h2 {
  font-weight: 300;
  font-size: 1.5em;
  color: var(--dark-teal); 
  margin-bottom: .8em;
}

p {
  margin: .9em 0;
}

a {
  text-decoration: none;
  color: var(--dark-teal);
}
/*
img {
  margin: .6em 0;
}
*/
ul {
  list-style-type: square;
}

li {
  color: var(--teal);
}

ul li span {
  color: var(--dark-teal);
}

hr {
  border: none;
  border-top: var(--base-border-size) solid var(--teal);
  margin: 1em 0 0 0;
  width: 100%;
}

article { /* contains page content */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 20px auto; 
}

@media only screen and (max-width: 600px) {
  :root {
    --base-border-size: 3px;
  }
  h1 {
    font-size: 2.1em;
  }

  p, ul {
    font-size: .9em;
  }
}
/* utilities */

.unclickable { /* temporary, for unavailable projects */
  opacity: 0.5;
}

.button {
  display: inline-block;
  margin: 1.9em .2em .1em .2em;
	padding: 0.5em 1em;
  background-color: none;
  border: 3px solid var(--dark-teal);
  text-decoration: none;
  text-align: center;
  color: var(--dark-teal);
}

.button:hover {
  background-color: var(--dark-teal);
  color: var(--light-teal);
}

.hideOnDesktop {
  display: none;
}

.hideOnMobile {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .hideOnDesktop {
    display: block;
  }
  .hideOnMobile {
    display: none;
  }
}

.hide {
  display: none;
}

@-webkit-keyframes slideBack { to {-webkit-transform: translateX(0px);transform: translateX(0px)}}

@keyframes slideBack { to {-webkit-transform: translateX(0px);transform: translateX(0px)}}
@-webkit-keyframes toFullOpacity { to { opacity: 1;}}
@keyframes toFullOpacity { to { opacity: 1;}}
@-webkit-keyframes scaleVertical { to { -webkit-transform: scaleY(1); transform: scaleY(1)}}
@keyframes scaleVertical { to { -webkit-transform: scaleY(1); transform: scaleY(1)}}
@-webkit-keyframes grow { to { opacity: 1; -webkit-transform: scale(1); transform: scale(1)}}
@keyframes grow { to { opacity: 1; -webkit-transform: scale(1); transform: scale(1)}}

/* site-wide styles */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logo { 
  background-image: url(../img/logo_menu.png);
  width: 55px;
  height: 55px;
  margin: 1em 2em;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 7;
      -ms-flex-positive: 7;
          flex-grow: 7;
  float: right;
  padding: .8em 2em .8em 0;
}

nav ul li {
  display: inline;
  padding-right: 1.5em;
}

.menu-items {
  min-height: 55px;
  line-height: 55px;
  -webkit-transform: translateX(350px);
      -ms-transform: translateX(350px);
          transform: translateX(350px);
  opacity: 0;
  -webkit-animation: slideBack 1s ease-out forwards,
  toFullOpacity .7s .3s ease-in forwards;
          animation: slideBack 1s ease-out forwards,
  toFullOpacity .7s .3s ease-in forwards;
}

.menu-item {
  padding: .3em .5em .3em .5em;
  border-bottom: .2em solid transparent;
}

.menu-item:hover {
  border-bottom: .2em solid var(--teal);
}

.menu-icon {
  min-height: 55px;
  line-height: 55px;
  opacity: 0;
  -webkit-animation: toFullOpacity 1s ease-in forwards;
          animation: toFullOpacity 1s ease-in forwards;
}

.menu-icon i {
  font-size: 1.75em; 
}

@media only screen and (max-width: 600px) {
  header {
    border-bottom: var(--base-border-size) solid var(--dark-teal);
  }

  .logo { 
    margin: 8px 8px 7px 7px;
    background-image: url(../img/logo_mobile.png);
    width: 40px;
    height: 40px;
  }
  nav, nav ul {
    padding: 0;
  }

  .menu-items {
    margin: 0;
    padding: 0;
  }

  .menu-items ul li {
    padding: 0;
    margin: 0  .2em;
  }

}

/* homepage */ 

.hero {
  position: relative;
  width: 686px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10vh auto;
  border: 0px solid silver;
}

/* .hero svg {
  border: 1px solid gold;
} */

.hero-content {
  position: absolute;
  width: 343px;
  right: 0;
  top: 0;
  padding: 115px 20px 0 20px; 
  opacity: 0;
  -webkit-animation: toFullOpacity ease-in 1s 3.5s forwards;
          animation: toFullOpacity ease-in 1s 3.5s forwards;
}

.hero h1 { /* Loes */
  font-size: 4.4em;
}

.hero h2 { /* roles */
  display: inline-block;
  font-weight: 100; 
  margin: .3em 0em;
  padding: .2em 0em;
  opacity: 0;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: translateY(60px);
      -ms-transform: translateY(60px);
          transform: translateY(60px);
  border-bottom: 3px solid var(--teal);
}

.hero h2.front { -webkit-animation: slideUp 1s 3.5s ease-out forwards; animation: slideUp 1s 3.5s ease-out forwards}
.hero h2.ux { -webkit-animation: slideUp 1s 4.5s ease-out forwards; animation: slideUp 1s 4.5s ease-out forwards}
.hero h2.web { -webkit-animation: slideUp 1s 5.5s ease-out forwards; animation: slideUp 1s 5.5s ease-out forwards}

.hero .button { /* View portfolio button */ 
  -webkit-transform-origin: center center; 
      -ms-transform-origin: center center; 
          transform-origin: center center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-animation: grow 1s 5.8s ease-out forwards;
          animation: grow 1s 5.8s ease-out forwards;
}

@media only screen and (max-width: 600px) { /* mobile devices */
  .hero {
    width: 343px;  
    margin: 0 auto;
  }

  .hero-logo {
    padding-top: 0px;
    margin-top: 50px;
  }

  .hero-content {
    padding-top: 45px;
  }

  .splash {
    display: block;
    position: fixed;
    z-index: 1;
    -webkit-transform-origin: top left;
        -ms-transform-origin: top left;
            transform-origin: top left;
    -webkit-transform: scale(.57);
        -ms-transform: scale(.57);
            transform: scale(.57);
    -webkit-animation: hide-splash .7s 1.9s linear forwards;
            animation: hide-splash .7s 1.9s linear forwards;
  }
}

@media only screen and (min-width: 601px) { /* larger devices */
  .hero-logo {
    position: absolute;
    width: 600px;
    left: 43px;
    -webkit-animation: move-left ease-in-out 2s 1.9s forwards;
            animation: move-left ease-in-out 2s 1.9s forwards; 
  }
} 

.hero svg path { opacity: 0.2 }
.hero svg path.l { -webkit-animation: toFullOpacity linear .5s forwards; animation: toFullOpacity linear .5s forwards }
.hero svg path.o { -webkit-animation: toFullOpacity linear .5s .5s forwards; animation: toFullOpacity linear .5s .5s forwards }
.hero svg path.e { -webkit-animation: toFullOpacity linear .5s 1s forwards; animation: toFullOpacity linear .5s 1s forwards }
.hero svg path.s { -webkit-animation: toFullOpacity linear .5s 1.5s forwards; animation: toFullOpacity linear .5s 1.5s forwards }

/* homepage animations */ 
@-webkit-keyframes move-left { /* desktop logo animation */
  50% { -webkit-transform: scale(.57); transform: scale(.57) }
  100% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translate(-43px) scale(.57);
            transform: translate(-43px) scale(.57);
  }
} 
@keyframes move-left { /* desktop logo animation */
  50% { -webkit-transform: scale(.57); transform: scale(.57) }
  100% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translate(-43px) scale(.57);
            transform: translate(-43px) scale(.57);
  }
}

@-webkit-keyframes hide-splash { /* mobile logo animation */
  to { 
    opacity: 0;
    }
}

@keyframes hide-splash { /* mobile logo animation */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp { /* h2 text animation */
  75% { opacity: 1 }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes slideUp { /* h2 text animation */
  75% { opacity: 1 }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/* about */

.about {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 510px;
}

.photo {
  width: 180px;
  height: 180px;
  background-size: 100%;
  background-color: var(--light-teal);
  background-image: url("../img/loes.png");
  border: var(--base-border-size) solid var(--teal);
  margin-top: 22px;
  z-index: 1;
}

.about hr {
  margin-top: -25px;
}

.about-content {
  text-align: left;
  padding: 65px 20px 40px 20px;
  margin: -25px 0 70px 0;
  border-bottom: var(--base-border-size) solid var(--teal);  
  -webkit-transform: scaleY(0);  
      -ms-transform: scaleY(0);  
          transform: scaleY(0);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: scaleVertical 1.3s .2s ease-out forwards;
          animation: scaleVertical 1.3s .2s ease-out forwards;
}

.about-text {
  opacity: 0;
  -webkit-animation: toFullOpacity 1s 1.2s ease-out forwards;
          animation: toFullOpacity 1s 1.2s ease-out forwards; 
}

@media only screen and (max-width: 600px) {
  .about {
    width: 90%; 
    font-size: .8em;
  }
}

/* portfolio */

.portfolio {
  width: 500px;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-top: 20px;
  border: 0px solid gold;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px; 
  min-height: 100px;
  margin: 15px 0;
  padding: 15px 18px;
  border: var(--base-border-size) solid var(--teal);
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-animation: growShrink .9s .1s linear forwards;
          animation: growShrink .9s .1s linear forwards;
}
.project:hover { border-color: var(--dark-teal) }

@-webkit-keyframes growShrink {
  60% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes growShrink {
  60% {
    -webkit-transform: scaleX(1.05);
            transform: scaleX(1.05);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.project-info {
  opacity: 0;
  -webkit-animation: toFullOpacity .7s 1s ease-out forwards;
          animation: toFullOpacity .7s 1s ease-out forwards;
}

.project-info ul {opacity: 1}

.project-info li, .details-content li {
  display: inline;
  margin-left: -2.2em;
  margin-right: 2.7em;
}

.project-info ul > li:before, .details-content ul > li:before { 
  content:'\ffed'; 
  margin-right: 0.5em;
}

@media only screen and (max-width: 600px) {
  .portfolio {
    width: 93%;
  }

  .projects, .project {
    width: 100%;
  }

  .project-info ul {
    opacity: 1;
  }
}

/* project details */

.details {
  width: 1200px;
}

.details nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.current {
  color: var(--teal);
  border-bottom: 0em solid var(--dark-teal);
}

.details-content {
  border: var(--base-border-size) solid var(--teal);
  text-align: left;
  padding: 15px 18px;
  margin-top: 30px;
}


.details-content h2 {
  font-weight: 600;
  font-size: 1.2em;
  margin-bottom: 0;
} 

.details-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desktop {
  min-width: 950px;
  margin: 40px 0 25px 0;
  border: 10px solid black;
  border-radius: 8px;
  max-height: 494px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.desktop img {
  width: 930px;  
}

.xbike .desktop, .xbike .mobile { background-color: #eee }
.katwijk .desktop, .katwijk .mobile { background-color:#8F351E } 
.memini .desktop { background-color:#252326 }
.memini .mobile { background-color:#ededed } 


.mobile {
  z-index: 1;
  -webkit-box-shadow: -3px 2px 4px #777;
          box-shadow: -3px 2px 4px #777;
  width: 250px;
  min-width: 250px;
  height: 488px;
  border: 40px solid black;
  border-left-width: 5px;
  border-right-width: 5px;
  border-radius: 30px;  
  overflow-y: scroll;
  -webkit-transform: translate(-53px, 15px);
      -ms-transform: translate(-53px, 15px);
          transform: translate(-53px, 15px);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.project-description {
  width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}


.mobile::-webkit-scrollbar, .desktop::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}


.xbike .mobile img {
  -webkit-animation: scrollDownAndFadeAwayXBike 4.5s .5s ease-in-out;
          animation: scrollDownAndFadeAwayXBike 4.5s .5s ease-in-out;
}

@-webkit-keyframes scrollDownAndFadeAwayXBike {
  95% {
    opacity: 1;
    -webkit-transform: translateY(-598px);
            transform: translateY(-598px) /* 1006 - (488 - 80) */
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-598px);
            transform: translateY(-598px)
  }
}

@keyframes scrollDownAndFadeAwayXBike {
  95% {
    opacity: 1;
    -webkit-transform: translateY(-598px);
            transform: translateY(-598px) /* 1006 - (488 - 80) */
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-598px);
            transform: translateY(-598px)
  }
}

.katwijk .mobile img {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: scrollDownAndFadeAwayKatwijk 25s .5s ease-out;
          animation: scrollDownAndFadeAwayKatwijk 25s .5s ease-out;
}

@-webkit-keyframes scrollDownAndFadeAwayKatwijk {
  95% {
    opacity: 1;
    -webkit-transform: translateY(-4042px);
            transform: translateY(-4042px) /* 4450 - (488 - 80)  */
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-4042px);
            transform: translateY(-4042px)
  }
}

@keyframes scrollDownAndFadeAwayKatwijk {
  95% {
    opacity: 1;
    -webkit-transform: translateY(-4042px);
            transform: translateY(-4042px) /* 4450 - (488 - 80)  */
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-4042px);
            transform: translateY(-4042px)
  }
}

.memini .mobile img {
  -webkit-transform-origin: 0% 0%;
      -ms-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-animation: scrollDownAndFadeAwayMemini 4s .5s ease-out;
          animation: scrollDownAndFadeAwayMemini 4s .5s ease-out;
}

@-webkit-keyframes scrollDownAndFadeAwayMemini {
  95% {
    opacity: 1;
    -webkit-transform: translateY(-394px);
            transform: translateY(-394px) /* 802 - (488 - 80)  */
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-394px);
            transform: translateY(-394px)
  }
}

@keyframes scrollDownAndFadeAwayMemini {
  95% {
    opacity: 1;
    -webkit-transform: translateY(-394px);
            transform: translateY(-394px) /* 802 - (488 - 80)  */
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-394px);
            transform: translateY(-394px)
  }
}


@media only screen and (max-width: 600px) {
  .details {
    width: 95%;
  }

  .details-content {
    padding: 0px;
    border: 3px solid var(--teal);
  }

  .desktop {
    min-width: 0px;
    max-width: 91%;
    margin: 0 auto;
    max-height: 195px;
    overflow-y: hidden;
    margin-top: 15px;
    border: 5px solid black;
    border-radius: 4px;
  }


  .desktop img {
    max-width: 100%;
  }

  .katwijk .desktop img {
    -webkit-transform-origin: top center;
        -ms-transform-origin: top center;
            transform-origin: top center;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
  }

  .project-description {
    max-width: 95%;
    margin-top: 15px;
  }

  .external-links {
    text-align: center;
  }
}
/* skills */ 
.skills  {
  width: 424px;
}

.skillset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 0;
  border-bottom: var(--base-border-size) solid var(--teal);  
  -webkit-transform-origin: top center;  
      -ms-transform-origin: top center;  
          transform-origin: top center;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-animation: scaleVertical 1.3s .2s ease-out forwards;
          animation: scaleVertical 1.3s .2s ease-out forwards;
}

.skill {
  width: 30%;
  margin: 1%;
  opacity: 0;
  -webkit-animation: toFullOpacity 1s 1.5s ease-out forwards;
          animation: toFullOpacity 1s 1.5s ease-out forwards; 
}

.skill-data {
  background-color: var(--dark-teal);
}

.skill-icon {
  opacity: 0.9;
  -webkit-transform: scale(0.92);
      -ms-transform: scale(0.92);
          transform: scale(0.92);
  -webkit-animation: grow .2s 2.0s linear forwards;
          animation: grow .2s 2.0s linear forwards; 
}

.skill-icon i {
  color: var(--dark-teal);
  font-size: 6.25em; /* 100px */
  line-height: 1.2em; /* 120px */
}

.skill-data {
  height: 7.5em; /* 6.25 * 1.2 */
  color: var(--light-teal);
  text-align: center;
  padding-top: 1.6em;
  opacity: 0.9;
  -webkit-transform: scale(0.92);
      -ms-transform: scale(0.92);
          transform: scale(0.92);
  -webkit-animation: grow .3s .1s ease-in forwards;
          animation: grow .3s .1s ease-in forwards;
}


.skill-data h2 {
  color: var(--light-teal);
  font-size: 1.1em;
  margin-bottom: .9em;
}

@media only screen and (max-width: 600px) {
  .skills {
    width: 85%;
  }

  .skill-icon i {
    font-size: 4.5em;
    line-height: 1.2em;
  }

  .skill-data h2, .skill-data i {
    font-size: .70em;
  }
  .skill-data {
    padding-top: 1.1em;
  }

  .skill-data {
    height: 5.4em;
  }
}

/* contact */

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 15vh auto 0 auto;
  width: 450px;
}

.contact h1 {
  font-size: 2em;
  margin-bottom: .5em; 
}

.socials {
  max-width: 60px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.socials i {
  margin: .3em;
  font-size: 2em;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.socials i:hover {
  -webkit-animation: grow .3s ease-out forwards;
          animation: grow .3s ease-out forwards;
}

.socials a:hover { color: var(--teal) }

.contact-form {
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1.3em;
  border-left: var(--base-border-size) solid var(--teal);
}

.contact-input {
  opacity: 0;
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
  -webkit-animation: slideUp 1s .2s ease-out forwards;
          animation: slideUp 1s .2s ease-out forwards; 
}

.contact-form input, .contact-form textarea {
  border: 3px solid var(--dark-teal);
  padding: .6em;
  width: 100%;
  background: transparent;
  margin-top: .4em;
}

.contact-form button {
  display: block;
  border: 3px solid var(--dark-teal);
  color: var(--light-teal);
	padding: 0.5em 1em;
  background-color: var(--dark-teal);
  margin: 2.5em 0 2em 0;
  font-weight: 600;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: var(--light-teal);
  color: var(--dark-teal);
  opacity: 1;
}

.contact-form input:focus, .contact-form textarea:focus { 
  outline: none;
  border: 3px solid var(--teal);
}

#send-succes {
  margin: 3em 0;
}

@media only screen and (max-width: 600px) {
  .contact {
    width: 100%;
    margin: 20px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .socials {
    max-width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .contact-form {
    border: none;
  }

  .contact i {
    font-size: 2em;
  }
}